/* Reset de estilos para eliminar márgenes y rellenos predeterminados del navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html, body, #root, .App{
  height: 100%;
}
/* Estilo básico para el cuerpo del documento */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: black;
  color: #333;
}

/* Contenedor principal con márgenes y relleno */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilo básico para encabezados y párrafos */
h1, h2, h3 {
  color: #ffffff;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

/* Estilo básico para enlaces */
a {
  
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Estilo básico para la navegación */
nav {
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 15px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

:root{
  --colorRojoPrincipal: rgb(89 0 9);
  --colorRojoSecundario: rgb(163, 2, 18);
}